extends layout

block content
  div.col-sm-2
  div.mainAbout.col-sm-8.text-justify
    h1 about me
    h3 hi. my name is teisia (tay-sha) park. 
      | i always dreamed that in another life i would be a developer. 
      | then one magical day, i heard about 
      a(target='_blank' href='http://www.galvanize.com') galvanize 
      | (6-month full stack immersive bootcamp)
      | and realized that i didn't have to dream anymore, 
      | i could just make it happen - and so i did :) 
      | i love developing bc technically it makes me a magician since i get to
      | build something that didn't exist before aka make things appear out
      | of thin air. i'm still learning every day and will never stop trying
      | to improve. this site is a work in progress and i will continue to update
      | it as i go. head over to my projects page to see what i've made so far. 
      | hope you enjoy
      img.peaceEmoji(src='http://emojipedia-us.s3.amazonaws.com/cache/e1/6d/e16d92698b895b4e35f0654bfd743529.png')
  div.col-sm-2
