extends layout

block content
  div.homeMain
    ul.name.text-center.animated.tada
      li.first teisia
      li.last park 
    h4.text-center
      | software en
      a#easteregg(target='_blank' href='http://bit.ly/teisiaEasterEgg') g
      | ineer
