extends layout

block content
  div.homeMain
    ul.name.text-center.animated.tada
      li.t t
      li.e e
      li.i i
      li.s s
      li.i2 i
      li.a a
      li.p p
      li.a2 a
      li.r r
      li.k k
    h4.text-center software engineer
