extends layout

block content
  div.homeMain
    ul.name.text-center.animated.tada
      li.first teisia
      li.last park 
    h4.text-center
      | software en
      button#easteregg g
      | ineer
