extends layout

block content
  div.col-sm-1
  div.projectsMain.col-sm-10
    h1.text-center projects
    div.col-sm-3
    div.col-sm-6
      div.image-wrapper.overlay-fade-in
        img(src='/images/14ers.png')
        div.image-overlay-content
          h2 14ers
          p
            em stack: bootstrap, javascript, angularjs, express, node.js, postgresql, knex
          p a resource for people interested in hiking 14ers (mountain peaks 14,000 ft+ in Colorado).
            | all official 14ers are listed along with additional information about each and the
            | most popular related trails. I created my own API of mountain and trail data to render
            | the data. 
          h2
            a(href='https://14ers.firebaseapp.com')
              i.icon-globe
            a(href='https://github.com/teisia/14er-app')
              i.icon-github
      div.image-wrapper.overlay-fade-in
        img(src='/images/freedenver.png')
        div.image-overlay-content
          h2 free denver
          p
            em stack: boostrap, javascript, express, node.js, postgresql, knex, meetup api, google maps api, heroku
          p a collaboritve project that is a resource for free things to do in denver -
            |  ranging from cultural to outdoor activities.
          h2
            a(href='http://www.freedenver.co')
              i.icon-globe
            a(href='https://github.com/teisia/team-5-group-project')
              i.icon-github
      div.image-wrapper.overlay-fade-in
        img(src='/images/inmyhood.png')
        div.image-overlay-content
          h2 in my hood
          p
            em
          p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum pulvinar ante quis augue lobortis volutpat.
          h2
            a(href='https://in-my-hood.firebaseapp.com')
              i.icon-globe
            a(href='')
              i.icon-github
    div.col-sm-3
  div.col-sm-1
