extends layout

block content
  div.col-sm-1
  div.projectsMain.col-sm-10
    h1.text-center projects
    div.col-sm-3
    div.col-sm-6
      div.image-wrapper.overlay-fade-in
        img.img-responsive(src='/images/14ers.png')
        div.image-overlay-content
          h2 14ers
          p
            em stack: bootstrap, js, angularjs, express, node.js, postgresql, knex
          p resource for people interested in hiking 14ers (mountain peaks 14k ft+ in CO).
          h2
            a(target='_blank' href='https://14ers.firebaseapp.com')
              i.icon-globe
            a(target='_blank' href='https://github.com/teisia/14er-app')
              i.icon-github
      h4.mobileLink
        a(target='_blank', href='https://14ers.firebaseapp.com') click here
      div.image-wrapper.overlay-fade-in
        img.img-responsive(src='/images/freedenver.png')
        div.image-overlay-content
          h2 free denver
          p
            em stack: boostrap, js, express, node.js, postgresql, knex, meetup & google maps api
          p collaboritve project that is a resource for free things to do in denver.
          h2
            a(target='_blank' href='http://www.freedenver.co')
              i.icon-globe
            a(target='_blank' href='https://github.com/teisia/team-5-group-project')
              i.icon-github
      h4.mobileLink
        a(target='_blank', href='http://www.freedenver.co') click here
      div.image-wrapper.overlay-fade-in
        img.img-responsive(src='/images/inmyhood.png')
        div.image-overlay-content
          h2 in my hood
          p
            em stack: js, google maps & bandsintown & itunes api
          p concert app that allows you to search for concerts in your area. 
          h2
            a(target='_blank' href='https://in-my-hood.firebaseapp.com')
              i.icon-globe
            a(target='_blank' href='https://github.com/teisia/in-my-hood')
              i.icon-github
      h4.mobileLink
        a(target='_blank', href='https://in-my-hood.firebaseapp.com') click here     
      div.image-wrapper.overlay-fade-in
        img.img-responsive(src='/images/vintagedenver.png')
        div.image-overlay-content
          h2 vintage denver
          p
            em stack: bootstrap, jade, js, express, node.js, postgresql, knex
          p resource for vintage clothing stores in denver. 
          h2
            a(target='_blank' href='https://vintagedenver.herokuapp.com')
              i.icon-globe
            a(target='_blank' href='https://github.com/teisia/vintage-denver')
              i.icon-github
      h4.mobileLink
        a(target='_blank', href='https://vintagedenver.herokuapp.com') click here     
  div.col-sm-3
  div.col-sm-1
